

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Modifica User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
            <form (ngSubmit)="onSubmit()">
                <div class="row">

                    <div class="col">

                        <label for="nome">Nome:</label><br>
                        <input type="txt" name="nome" id="nome" [(ngModel)]="internalUser.nome"><br>
                        
                        <label for="cognome">Cognome:</label><br>
                        <input type="txt" name="cognome" id="cognome" [(ngModel)]="internalUser.cognome"><br>
                        
                        <label for="email">Email:</label><br>
                        <input type="txt" name="email" id="email" [(ngModel)]="internalUser.email"><br>
                        
                        <label for="password">Password:</label><br>
                        <input type="txt" name="password" id="password" [(ngModel)]="internalUser.password"><br>
                        
                        <div class="row">
                            <div class="col">
                                <label for="group">Group:</label><br>
                                <select id="group" name="group" [(ngModel)]="internalUser.groupDTO">
                                    
                                    @for (group of groups; track $index) {
                                        <option [ngValue]="group">{{group.id}}</option>
                                    }
                                </select>
                                <mat-paginator [length]="totalElementsGroup" [pageSize]="pageSizeGroup"
                                [pageIndex]="pageIndexGroup" [pageSizeOptions]="[5, 10, 20]"
                                (page)="onPageChangeGroups($event)"></mat-paginator><br><br>
                            </div>
                            <div class="col">
                                
                                <label for="role">Role:</label><br>
                                    <select id="role" name="role" [(ngModel)]="role" (change)="addRole(role)">
                                        @for (role of roles; track $index) {
                                            <option [ngValue]="role">{{role.descrizione}}</option>
                                        }
                                    </select>
                                    <mat-paginator [length]="totalElementsRole" [pageSize]="pageSizeRole"
                                    [pageIndex]="pageIndexRole" [pageSizeOptions]="[5, 10, 20]"
                                    (page)="onPageChangeRoles($event)"></mat-paginator>
                                </div>
                            <br>

                            
                        </div>

                    </div><br>
                     <div class="row">

        @for (item of myRole; track $index) {
            <div class="col m-2 border position-relative">
                <button type="button" class="btn-close position-absolute top-0 end-0 " (click)="delete($index)"></button>

                id : {{item.id}}
                <br>
                descrizione : {{item.descrizione}}
            </div>
        }
    </div>
                </div>
                <input type="submit" value="submit" class="btn btn-primary">

            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>
