

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Modifica Gruppo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
            <form (ngSubmit)="onSubmit()">
                <div class="row">

                    <div class="col">

                        <label for="descrizione">Descrizione:</label><br>
                        <input type="txt" name="descrizione" id="descrizione" [(ngModel)]="group.descrizione"><br>
                        <label for="role">Role:</label><br>
                        <div class="row">
                                <div class="col">

                                    <select id="role" name="role" [(ngModel)]="role" (change)="addRole(role)">
                                        @for (role of roles; track $index) {
                                            <option [ngValue]="role">{{role.descrizione}}</option>
                                        }
                                    </select>
                                    <mat-paginator [length]="totalElementsRole" [pageSize]="pageSizeRole"
                                    [pageIndex]="pageIndexRole" [pageSizeOptions]="[5, 10, 20]"
                                    (page)="onPageChangeRoles($event)"></mat-paginator>
                                </div>
                            <br>

                            
                        </div>

                    </div><br>
                     <div class="row">

        @for (item of myRole; track $index) {
            <div class="col m-2 border position-relative">
                <button type="button" class="btn-close position-absolute top-0 end-0 " (click)="delete($index)"></button>

                id : {{item.id}}
                <br>
                descrizione : {{item.descrizione}}
            </div>
        }
    </div>
                </div>
                <input type="submit" value="submit" class="btn btn-primary">

            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>
