<div class="row m-2 p-2"></div>
<div class="row">
    <div class="col"></div>
    <div class="col-md-auto">
        <div class=" mt-5 p-4 border border-1 rounded-3 shadow bg-white ">
            <h1>FaiSpesa</h1>
            <p>Registrati</p>
            <!--    TODO INSERIRE LA LOGICA DI CONTROLLO DI VALIDITà  -->
            <form action="#" class="was-validated">
                    <div class="col p-3 ">
                        <label for="email">Email:</label><br>
                        <input id="email" class="form-control is-invalid" type="text"
                            placeholder="Mario.Rossi@Example.it" name="mail" [(ngModel)]="email"
                            required>
                        <label for="password">Password:</label><br>
                        <input id="password" type="password" class="form-control is-invalid" name="password"
                            [(ngModel)]="password" required>
                    </div>
                    <button class="bg-primary bg-gradient text-light rounded-3 w-75 border-1"
                        (click)="login()">Login
                    </button>
            </form>
        </div>
    </div>
    <div class="col"></div>
</div>