<div class="with-shadow super-center">
  <div class="row text-center">
    <div class="col-md-auto">
      <div class=" p-4 ">
        <h2>Accedi alla piattarorma di amministrazione</h2>
        <form #loginForm="ngForm" class="was-validated p-2">
          <div class="col p-3">
            <div class="p-3">
              <label class="mb-1" for="email">Email:</label><br>
              <input id="email" autocomplete="email" class="form-control is-invalid text-center input-bar" type="text"
                     placeholder="mario.rossi@example.it" name="mail" [(ngModel)]="email"
                     required>
            </div>
            <div class="p-3">
              <label class="mb-1" for="password">Password:</label><br>
              <input id="password" autocomplete="current-password" type="password"
                     class="form-control is-invalid text-center input-bar"
                     name="password"
                     [(ngModel)]="password" required>
            </div>
          </div>
        </form>
        <div class="col p-2 mb-2">
          <button type="button" class="btn btn-primary btn-lg"
                  [disabled]="loginForm.invalid" (click)="login()">Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
