<div class="container text-center">
  <div class="row">
    <div class="col">

      <table class="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Cognome</th>
          <th scope="col">Email</th>
          <th scope="col">Ultima Modifica</th>
          <th scope="col">Data Creazione</th>
          <th scope="col">Id Utente Creazione</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
          @for (user of users; track user.id) {
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.nome }}</td>
              <td>{{ user.cognome }}</td>
              <td>{{ user.email }}</td>
               <td>{{user.ultimaModifica?formatDate(user.ultimaModifica, 'yyyy-MM-dd', 'en-US'):undefined }}</td>
              <td>{{user.dataCreazione?formatDate(user.dataCreazione, 'yyyy-MM-dd', 'en-US'):undefined }}</td>
              <td>{{ user.creationUser }}</td>
              <td>
                <button class="btn btn-info" type="button" (click)="select(user)">Seleziona</button>
              </td>
              <td>
                <button class="btn btn-danger" type="button" (click)="delete(user)">Elimina</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

<mat-paginator [length]="totalElements"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [pageSizeOptions]="[5, 10, 20]"
               (page)="onPageChange($event)"></mat-paginator>
