<div class="container">
  <div class="row">
    <div class="col">

      <table class="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Cognome</th>
          <th scope="col">Email</th>
          <!--          <th scope="col">Password</th>-->
          <th scope="col">Gruppo</th>
          <th scope="col">Ruoli</th>
        </tr>
        </thead>
        <tbody>
          @for (user of users; track user.id) {
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.ruoli }}</td>
              <td>
                <button class="btn btn-info" type="button" (click)="select(user)">Seleziona</button>
              </td>
              <td>
                <button class="btn btn-danger" type="button" (click)="delete(user)">Elimina</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

<mat-paginator [length]="totalElements"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [pageSizeOptions]="[5, 10, 20]"
               (page)="onPageChange($event)"></mat-paginator>
