<div class="super-center with-shadow" style="font-size: 25px">
  <div class="row text-center">
    <div class="col-md-auto p-3">
      <div class=" mt-5 p-4 ">
        <h1>NextCart</h1>
        <p class="lbl">Registrati</p>
        <form action="#" class="was-validated">
          <div class="row mb-3">
            <div class="col p-3 h-75">
              <label class="lbl" for="name">Nome:</label><br>
              <input id="name" class="form-control is-invalid" type="text" placeholder="Mario" name="name"
                     [(ngModel)]="userToRegister.nome" required>
              <label class="lbl" for="surname">Cognome:</label><br>
              <input id="surname" class="form-control is-invalid" type="text" placeholder="Rossi" name="surname"
                     [(ngModel)]="userToRegister.cognome" required>

            </div>
            <div class="col p-3 ">
              <label class="lbl" for="email">Email:</label><br>
              <input id="email" class="form-control is-invalid" type="text" placeholder="mario.rossi@example.it"
                     name="mail" [(ngModel)]="userToRegister.email" required>
              <label class="lbl" for="confermeEmail">Conferme Email:</label><br>
              <input id="confermeEmail" class="form-control is-invalid" type="text" placeholder="mario.rossi@example.it"
                     required>
              <label class="lbl" for="password">Password:</label><br>
              <input id="password" type="password" class="form-control is-invalid" name="password"
                     [(ngModel)]="userToRegister.password" required>
              <label class="lbl" for="confermePassword">Conferme Password:</label><br>
              <input id="confermePassword" class="form-control is-invalid" type="password" required>
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-lg" (click)="register()">Registrati
          </button>
        </form>
        <div class="register mt-2">Sei già registrato? Effettua il <a [routerLink]="'/login'">login</a>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>

