<div class="row m-2 p-2"></div>
<div class="row">
  <div class="col"></div>
  <div class="col-md-auto">
    <div class=" mt-5 p-4 border border-1 rounded-3 shadow bg-white ">
      <h1>FaiSpesa</h1>
      <p>Registrati</p>
      <!--    TODO INSERIRE LA LOGICA DI CONTROLLO DI VALIDITà  -->
      <form action="#" class="was-validated">
        <div class="row mb-3">
          <div class="col p-3 h-75">
            <label for="name">Nome:</label><br>
            <input id="name" class="form-control is-invalid" type="text" placeholder="Mario" name="name"
                   [(ngModel)]="userToRegister.name" required>
            <label for="surname">Cognome:</label><br>
            <input id="surname" class="form-control is-invalid" type="text" placeholder="Rossi" name="surname"
                   [(ngModel)]="userToRegister.surname" required>
                   <label for="group">Gruppo:</label><br>
                   <select name="group" class="form-select is-invalid">
                    @for (group of groups; track $index) {
           
                       <option [value]="group" (click)="userToRegister.group= group">
                         {{group.roleDTO.admin}}: {{group.roleDTO.priority}} 
                    }
                   </select>
          </div>
          <div class="col p-3 ">
            <label for="email">Email:</label><br>
            <input id="email" class="form-control is-invalid" type="text" placeholder="Mario.Rossi@Example.it"
                   name="mail" [(ngModel)]="userToRegister.email" required>
            <label for="confermeEmail">Conferme Email:</label><br>
            <input id="confermeEmail" class="form-control is-invalid" type="text" placeholder="Mario.Rossi@Example.it"
                   required>
            <label for="password">Password:</label><br>
            <input id="password" type="password" class="form-control is-invalid" name="password"
                   [(ngModel)]="userToRegister.password" required>
            <label for="confermePassword">Conferme Password:</label><br>
            <input id="confermePassword" class="form-control is-invalid" type="password" required>
          </div>
        </div>
        <button class="bg-primary bg-gradient text-light rounded-3 w-75 border-1" (click)="register()">Registrati
        </button>
      </form>
    </div>
  </div>
  <div class="col"></div>
</div>

