<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NextCart</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <!--    QUESTI SONO QUI PER COMODITà DI TESTING DELLE SCHERMATE   -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/registration'">Registrazione</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/login'">Schermata Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/verify'">Verifica registrazione</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Users
          </a>
          <ul class="dropdown-menu">
            <li><a id="createUser" class="dropdown-item "[routerLink]="'createUser'">Create User</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a id="showUsers" class="dropdown-item " [routerLink]="'/main-menu/users'">Show Users</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Roles
          </a>
          <ul class="dropdown-menu">
            <li><a id="createRole" class="dropdown-item " [routerLink]="'/createRole'">Create Role</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a id="showRoles" class="dropdown-item " [routerLink]="'/main-menu/roles'">Show Roles</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Groups
          </a>
          <ul class="dropdown-menu">
            <li><a id="createGroup" class="dropdown-item "[routerLink]="'/createGroup'">Create Group</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a id="showGroups" class="dropdown-item " [routerLink]="'/main-menu/groups'">Show Groups</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
