<div class="container">
  <div class="row">
    <div class="col">

      <table class="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Ultima modifica</th>
          <th scope="col">Data Creatione</th>
          <th scope="col">Creato da Utente con ID</th>
          @for (_ of [].constructor(maxRole); track $index) {
            <th scope="col">Role {{ $index + 1 }}</th>
          }
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
          @for (group of groups; track group.id) {
            <tr>
              <td>{{ group.id }}</td>
              <td>{{group.ultimaModifica?formatDate(group.ultimaModifica, 'yyyy-MM-dd', 'en-US'):undefined }}</td>
              <td>{{group.dataCreazione?formatDate(group.dataCreazione, 'yyyy-MM-dd', 'en-US'):undefined }}</td>
              <td>{{ group.creationUser }}</td>
              @for (role of group.roleDTO; track $index) {
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                      Info
                    </button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item">
                        <p>
                          ID: {{ role.id }}<br>
                          ADMIN: {{ role.admin }}
                        </p>
                      </li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <!-- TODO ricontrollo end poinst  -->
                      <li><a class="dropdown-item" [routerLink]="'/detail/role/'+ role.id">Mostra dettaglio</a>
                      </li>
                    </ul>
                  </div>
                </td>
              }
              @if (group.roleDTO.length < maxRole) {
                @for (_ of [].constructor(maxRole - group.roleDTO.length); track null) {
                  <td></td>
                }
              }

              <td>
                <button class="btn btn-info" type="button" (click)="select(group)">Seleziona</button>
              </td>
              <td>
                <button class="btn btn-danger" type="button" (click)="delete(group)">Elimina</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
<mat-paginator [length]="totalElements"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [pageSizeOptions]="[5, 10, 20]"
               (page)="onPageChange($event)"></mat-paginator>
