<div class="container">
  <div class="row">
    <div class="col">

      <table class="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Role</th>
          <th scope="col">Priority</th>
          <th scope="col">IsAdmin</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
          @for (group of groups; track group.id) {
            <tr>
              <td>{{ group.id }}</td>
              <td>{{ group.roleDTO }}</td>
              <td>{{ group.roleDTO }}</td>
              <td>{{ group.roleDTO }}</td>
              <td>
                <button class="btn btn-info" type="button" (click)="select(group)">Seleziona</button>
              </td>
              <td>
                <button class="btn btn-danger" type="button" (click)="delete(group)">Elimina</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
<mat-paginator [length]="totalElements"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [pageSizeOptions]="[5, 10, 20]"
               (page)="onPageChange($event)"></mat-paginator>
