<div class="container text-center mt-5 with-shadow">
  <div class="row mb-2">
    <h2 class="mt-3">Ruoli presenti nel sistema</h2>
  </div>
  <div class="row p-3">
    <div class="col mt-3">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Ultima Modifica</th>
          <th scope="col">Data Creazione</th>
          <th scope="col">Id Utente di creazione</th>
          <th scope="col">Priority</th>
          <th scope="col">IsAdmin</th>
          <th scope="col">Descrizione</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
          @for (role of roles; track role.id) {
            <tr>
              <td>{{ role.id }}</td>
              <td>{{ role.ultimaModifica ? formatDate(role.ultimaModifica, 'yyyy-MM-dd', 'en-US') : undefined }}</td>
              <td>{{ role.dataCreazione ? formatDate(role.dataCreazione, 'yyyy-MM-dd', 'en-US') : undefined }}</td>
              <td>{{ role.creationUser }}</td>
              <td>{{ role.priority }}</td>
              <td>{{ role.admin }}</td>
              <td>{{ role.descrizione }}</td>
              <td>
                <button class="btn btn-info" type="button" (click)="select(role)">Seleziona</button>
              </td>
              <td>
                <button class="btn btn-danger" type="button" (click)="delete(role)">Elimina</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <mat-paginator [length]="totalElements"
                   [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   [pageSizeOptions]="[5, 10, 20]"
                   (page)="onPageChange($event)"></mat-paginator>
  </div>
</div>


