<div class="container-fluid text-center with-shadow" style="width: 750px;">
  <div class="container mt-5">
    <div class="mt-3">
      <h2 >Crea un nuovo ruolo:</h2>
    </div>
    <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
      <div class="m-3">
        <label for="priority" class="form-label">Priorità</label>
        <input type="number" class="form-control text-center" id="priority" formControlName="priority" required>
      </div>

      <div class="m-3">
        <label for="admin" class="form-label m-lg-1">Amministratore</label>
        <input type="checkbox" id="admin" formControlName="admin">
      </div>

      <div class="m-3">
        <label for="descrizione" class="form-label">Descrizione</label>
        <textarea class="form-control text-center" id="descrizione" formControlName="descrizione" required></textarea>
      </div>

      <button type="submit" class="btn btn-primary m-3">Crea</button>
    </form>
  </div>
</div>
